<div id="CalendarTemplate" class="template">
<table class="CalendarTable">
    <tbody class="CalendarBody">
        <tr class="CalendarHeaderRow">
            <!--<th class="CalendarHeader">Shifts</th>-->
            <th class="CalendarHeader">Sunday</th>
            <th class="CalendarHeader">Monday</th>
            <th class="CalendarHeader">Tuesday</th>
            <th class="CalendarHeader">Wednesday</th>
            <th class="CalendarHeader">Thursday</th>
            <th class="CalendarHeader">Friday</th>
            <th class="CalendarHeader">Saturday</th>
        </tr>
    </tbody>
</table>

</div>