<ul class="employee-side-bar list-group">	
	
</ul>

<div id="template">
	<li class="list-group-item"><div class="employee-cont">
		<h4 class="name list-group-item-heading">Last, First</h4>
		<p class="shifts list-group-item-text">Shifts: </p>
	</div></li>
</div>
<script src="./employee-side-bar.js"></script>
<script type="text/javascript">
	setup();
	initiateList([
		{name: "Schriever, Paul", body: "Shifts: 10"},
		{name: "Diden, BJ", body: "Shifts: 10"},
		{name: "May, Elena", body: "Shifts: 10"},
		{name: "Mother, Your", body: "Shifts: 10"}
	]);
</script>
	
</body>
</html>